PORT=8080
ACCESS_TOKEN_SECRET=super_secret_access_key_123!!!
REFRESH_TOKEN_SECRET=super_secret_refresh_key_456!!!
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/emotional
CLIENT_URL=http://localhost:5173
REDIRECT_CLIENT_URL=http://localhost:5173

GOOGLE_CLIENT_ID=abcdefg
GOOGLE_CLIENT_SECRET=abcdefghi
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/callback

KMITL_API_KEY=abcdefgh